@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?cnv6y9');
  src:  url('fonts/icomoon.eot?cnv6y9#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?cnv6y9') format('truetype'),
    url('fonts/icomoon.woff?cnv6y9') format('woff'),
    url('fonts/icomoon.svg?cnv6y9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bitcoin:before {
  content: "\e901";
}
.icon-twitter-square:before {
  content: "\e900";
}
.icon-bubbles2:before {
  content: "\e96d";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
