@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/iranyekanwebbold.eot');
	src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('../fonts/eot/iranyekanwebthin.eot');
	src: url('../fonts/eot/iranyekanwebthin.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebthin.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebthin.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/iranyekanweblight.eot');
	src: url('../fonts/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/iranyekanwebregular.eot');
	src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/iranyekanwebmedium.eot');
	src: url('../fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebmedium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('../fonts/eot/iranyekanwebextrabold.eot');
	src: url('../fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebextrabold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/eot/iranyekanwebblack.eot');
	src: url('../fonts/eot/iranyekanwebblack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebblack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebblack.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 950;
	src: url('../fonts/eot/iranyekanwebextrablack.eot');
	src: url('../fonts/eot/iranyekanwebextrablack.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('../fonts/woff/iranyekanwebextrablack.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('../fonts/ttf/iranyekanwebextrablack.ttf') format('truetype');
}

/* fanum */

@font-face {
    font-family: iranyekanfanum;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/iranyekanwebbold(fanum).eot');
    src: url('../fonts/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/iranyekanwebbold(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/iranyekanwebbold(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekanfanum;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/iranyekanweblight(fanum).eot');
    src: url('../fonts/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/iranyekanweblight(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/iranyekanweblight(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
    font-family: iranyekanfanum;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/iranyekanwebregular(fanum).eot');
    src: url('../fonts/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/iranyekanwebregular(fanum).woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/iranyekanwebregular(fanum).woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}
/* Latin fonts (Roboto) */

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/eot/robotobold.eot');
    src: url('../fonts/eot/robotobold.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/robotobold.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/robotobold.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/robotobold.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/eot/robotolight.eot');
    src: url('../fonts/eot/robotolight.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/robotolight.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/robotolight.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/robotolight.ttf') format('truetype');
}

@font-face {
    font-family: roboto;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/eot/robotoregular.eot');
    src: url('../fonts/eot/robotoregular.eot?#iefix') format('embedded-opentype'), /* IE6-8 */
    url('../fonts/woff2/robotoregular.woff2') format('woff2'), /* FF39+,Chrome36+, Opera24+*/
    url('../fonts/woff/robotoregular.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/robotoregular.ttf') format('truetype');
}

body,
html {
    font-family: iranyekan;
}

button,
input[type="submit"],
input[type="text"],
input[type="search"],
input[type="email"],
textarea,
select,
.input-text {
    font-family: iranyekan;
}

* {
    margin: 0;
    padding: 0;
    direction: rtl;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* start here */
.h-top-dev {
	height: 768px;
}

.h-middle-dev {
	position: relative;
}

.h-middle-dev::before {
	background-image: linear-gradient( to top,#000,transparent);
	position: absolute;
	top: -150px;
	display: block;
	width: 100%;
	height: 150px;
	content: ' ';
}

.wrapper-top-dev {
	background-image: url('../img/158-l-2015jpeg.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	position: relative;
}

.bg-black {
	background-color: rgba(11, 11, 10, 0.47);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.img-logo-wrapper img {
	width: 194px;
	padding-right: 20px;
}

.heading-wrapper {
	text-align: center;
	margin: 250px 0;
}

.heading-wrapper h1 {
	color: #fff;
	font-weight: 800;
	font-size: 35px;
}

.wrapper-middle-dev {
	background-color: #000;
	padding: 50px 0;
}

.count-down {
	color: #fff;
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
}

.count-down div {
	display: block;
	float: left;
}

.count-down label {
	display: block;
	background-color: #232323;
	border-radius: 50px;
	padding: 15px 45px;
	margin: 0 10px;
	font-family: iranyekanfanum;
}

.count-down span {
	font-size: 20px;
}

.dot{
	margin-top: 20px;
}

.all-text{
	color: #fff;
	text-align: center;
}

.all-text h3 {
	font-size: 35px;
	font-weight: 800;
	padding: 20px 0;
}

.all-text h4 {
	font-size: 21px;
	font-weight: 700;
	padding: 10px 0;
}

.all-text ul li {
	font-size: 18px;
	font-weight: 500;
	padding: 3px 0;
}

.top-footer {
	color: #fff;
	text-align: center;
	background-color: #161616;
	padding: 50px 0;
}

.first-text {
	font-size: 20px;
	font-weight: 600;
	font-family: iranyekanfanum;
	padding: 10px 0;
}

.second-text{
	font-size: 18px;
}

.bootom-footer {
	background-color: #161616;
	display: flex;
	justify-content: center;
	padding-bottom: 85px;
}

.bootom-footer img {
	width: 170px;
}

.wrapper-aparat {
	margin-left: 20px;
}

.wrapper-instagram {
	margin-right: 20px;
}








/* responsive */
@media (max-width: 576px) {
	.h-top-dev {
		height: 499px;
	}
	.wrapper-top-dev {
		background-size: inherit;
	}
	.heading-wrapper h1 {
		font-size: 17px;
	}
	.all-text h3 {
		font-size: 17px;
	}
	.all-text h4 {
		font-size: 15px;
	}
	.all-text ul li {
		font-size: 14px;
	}
	.first-text {
		font-size: 15px;
	}.second-text {
		font-size: 14px;
	}
	.bootom-footer img {
		width: 100px;
	}
	.count-down label {
		border-radius: 15px;
		padding: 4px 22px;
	}
	.count-down span {
		font-size: 14px;
	}

}

@media (min-width: 576.98px) and (max-width: 767.98px) {
	.h-top-dev {
		height: 499px;
	}
	.wrapper-top-dev {
		background-size: inherit;
	}
	.heading-wrapper h1 {
		font-size: 23px;
	}
	.all-text h3 {
		font-size: 23px;
	}
	.all-text h4 {
		font-size: 17px;
	}
	.all-text ul li {
		font-size: 15px;
	}
	.first-text {
		font-size: 17px;
	}
	.second-text {
		font-size: 15px;
	}
	.bootom-footer img {
		width: 130px;
	}
	.count-down span {
		font-size: 15px;
	}

}

@media (min-width: 768px) and (max-width: 991.98px) {

}

@media (min-width: 992px) and (max-width: 1199.98px) {
	
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
	
}

@media (min-width: 1400px) {
	
}

